/* ----------- Item Detail ---------- */
.mainItemDetail{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: auto;
    align-content: stretch;
    justify-content: space-around;
    gap: 1em;
    margin: 0.5em;
    padding: 0.5em;
}
.mainItemDetail__img{
    height: 100%;
    width: 100%;
    max-width: 50%;
    border-radius: 0.5em;
}
.mainItemDetail__details{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: auto;
    align-content: stretch;
    justify-content: space-around;
    max-width: 50%;
}
