/* Item Detail  */
.mainItemDetail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1em;
    margin: 0.5em;
    padding: 0.5em;
}
.mainItemDetail__img{
    max-height: 500px;
    max-width: 500px;
    border-radius: 0.5em;
}
.mainItemDetail__img img{
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
}
.mainItemDetail__details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 320px;
    max-width: 900px;
}
.mainItemDetail__details h2{
    letter-spacing: 0.05rem;
}
.mainItemDetail__details button{
    color: black;
    margin: 1em;
}
.mainItemDetail__details .mainItemDetail__details__text{
    width: 100%;
    margin: 1em;
}
.mainItemDetail .mainItemDetail__details .mainItemDetail__details__text .mainItemDetail__details__text--info{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    padding: 1em;
    text-align: right;
}
.mainItemDetail .mainItemDetail__details .mainItemDetail__details__text .mainItemDetail__details__text--info span{
    padding-inline: 0em;
}
.mainItemDetail .mainItemDetail__details .mainItemDetail__details__text .mainItemDetail__details__text--info .mainItemDetail__details__text--info--1{
    font-weight: bold;
}
.mainItemDetail__details .mainItemDetail__details--price{
    font-size: 2.5rem;
    font-weight: 100;
}
