/* About Us / Sobre Nosotros */
.sectionAboutUs__div__info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    gap: 1em;
}
.sectionAboutUs__div #aboutus-div-2{
    flex-direction:row-reverse;
}
.sectionAboutUs__div__info--text{
    padding: 1.5em;

}
.sectionAboutUs__div__info--text{
    max-width: 500px;
    line-height: 1em;
}
.sectionAboutUs__div__info--text p{
    font-size: 1.2rem;
    padding: 1em;
}
.sectionAboutUs__div__info--img{
    width: 400px;
}
.sectionAboutUs__div__info--img img{
    width: 100%;
    height: auto;
    border-radius: 2em;
}