.mainHeader{
    width: 100%;
    display: flex;
    padding: 0.5em 1em;
    box-shadow: 1px 5px 15px #81818129;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.mainHeader__brand{
    color: #9c27b0;
    font-size: 3rem;
    padding: 0.5em;
    text-shadow: none;
    transition-property: text-shadow;
    transition-duration: 1s;
}
.mainHeader__brand:hover{
    color: inherit;
    text-shadow: #0f0f0f,
    0em 0em 2em #0f0f0f,
    0em 0em 1em #0f0f0f,
    1px 1px 4px #0f0f0f,
    0px 0px 8px #0f0f0f,
    0px 0px 22px #0f0f0f,
    0px 0px 32px #000000;
}

ul.navbar{
    list-style: none;
    display: flex;
}

ul.navbar li{
    margin-right: 15px;
}

.mainHeader__containerLogo{
    width: 80px;
}

.mainHeader__containerLogo img{
    width: 100%;
    border-radius: 50%;
}
