.mainHeader{
  width: 100%;
  display: flex;
  padding: 10px 25px;
  box-shadow: 1px 5px 15px #81818129;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

ul.navbar{
  list-style: none;
  display: flex;
}

ul.navbar li{
  margin-right: 15px;
}

.mainHeader__containerLogo{
  width: 80px;
}

.mainHeader__containerLogo img{
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
